In [27]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

import plotly.express as px

pd.set_option('display.max_columns', None)
pd.options.mode.chained_assignment = None

%matplotlib inline

In [28]:
#this is a custom function to open each dataset
def open_fuel_year(fuel_year):
    
    df = pd.read_csv('./data_'+str(fuel_year)+'_v2.csv', low_memory=False)

    df['record_year'] = pd.Series(dtype='str')
    new_cols_order = ['record_year'] + df.columns[0:18].to_list()
    
    df = df[new_cols_order]
    for year in years:
        if year == fuel_year:
            df['record_year'] = int(fuel_year)
            print(new_cols_order)    
        
    return df

In [29]:
clean_df = pd.DataFrame()

years = [2008,2018]

#join the datasets
for fuel_year in years:
    clean_df = pd.concat([clean_df, open_fuel_year(fuel_year)])
    
    print(len(clean_df))
clean_df.reset_index(drop=True, inplace=True)

['record_year', 'record_year', 'model', 'displ', 'cyl', 'trans', 'drive', 'fuel', 'cert_region', 'veh_class', 'air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg', 'greenhouse_gas_score', 'smartway']
2142
['record_year', 'record_year', 'model', 'displ', 'cyl', 'trans', 'drive', 'fuel', 'cert_region', 'veh_class', 'air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg', 'greenhouse_gas_score', 'smartway']
3746

In [30]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3746 entries, 0 to 3745
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   record_year           3746 non-null   int64
 1   record_year           3746 non-null   int64
 2   model                 3746 non-null   object
 3   displ                 3746 non-null   float64
 4   cyl                   3746 non-null   object
 5   trans                 3746 non-null   object
 6   drive                 3746 non-null   object
 7   fuel                  3746 non-null   object
 8   cert_region           3746 non-null   object
 9   veh_class             3746 non-null   object
 10  air_pollution_score   3746 non-null   object
 11  city_mpg              3746 non-null   object
 12  hwy_mpg               3746 non-null   object
 13  cmb_mpg               3746 non-null   object
 14  greenhouse_gas_score  3746 non-null   object
 15  smartway              3746 non-null   object
dtypes: float64(1), int64(2), object(13)
memory usage: 468.4+ KB

In [31]:
clean_df

,record_year,record_year,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,2008,2008,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,2008,2008,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,17,4,no
2,2008,2008,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
3,2008,2008,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,17,22,19,5,no
4,2008,2008,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3741,2018,2018,VOLVO XC 90,2.0,4.0,SemiAuto-8,4WD,Gasoline,FA,standard SUV,5,22,28,24,5,No
3742,2018,2018,VOLVO XC 90,2.0,4.0,SemiAuto-8,4WD,Gasoline,CA,standard SUV,5,20,27,23,5,No
3743,2018,2018,VOLVO XC 90,2.0,4.0,SemiAuto-8,4WD,Gasoline,FA,standard SUV,5,20,27,23,5,No
3744,2018,2018,VOLVO XC 90,2.0,4.0,SemiAuto-8,4WD,Gasoline/Electricity,CA,standard SUV,7,26/63,30/61,27/62,10,Elite
3745,2018,2018,VOLVO XC 90,2.0,4.0,SemiAuto-8,4WD,Gasoline/Electricity,FA,standard SUV,7,26/63,30/61,27/62,10,Elite

In [43]:
clean_df = clean_df.T.drop_duplicates()

In [48]:
clean_df = clean_df.T
clean_df

,record_year,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,2008,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,2008,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,17,4,no
2,2008,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
3,2008,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,17,22,19,5,no
4,2008,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3741,2018,VOLVO XC 90,2.0,4.0,SemiAuto-8,4WD,Gasoline,FA,standard SUV,5,22,28,24,5,No
3742,2018,VOLVO XC 90,2.0,4.0,SemiAuto-8,4WD,Gasoline,CA,standard SUV,5,20,27,23,5,No
3743,2018,VOLVO XC 90,2.0,4.0,SemiAuto-8,4WD,Gasoline,FA,standard SUV,5,20,27,23,5,No
3744,2018,VOLVO XC 90,2.0,4.0,SemiAuto-8,4WD,Gasoline/Electricity,CA,standard SUV,7,26/63,30/61,27/62,10,Elite
3745,2018,VOLVO XC 90,2.0,4.0,SemiAuto-8,4WD,Gasoline/Electricity,FA,standard SUV,7,26/63,30/61,27/62,10,Elite

In [57]:
type(clean_df.greenhouse_gas_score[99])

str

In [55]:
clean_df.greenhouse_gas_score.value_counts()

6      568
5      455
5      369
4      326
7      316
3      308
4      279
6      219
3      160
2      148
8      131
7      126
2       70
0       50
8       40
1       33
10      28
6/4     24
1       22
9       19
4/3     15
4/2     11
9       10
10       4
8/6      4
6/5      3
5/3      3
7/6      3
6/3      1
7/5      1
Name: greenhouse_gas_score, dtype: int64

In [65]:
clean_df['cyl'] = pd.to_numeric(clean_df.cyl)

ValueError: Unable to parse string "(6 cyl)" at position 0

In [63]:
type(clean_df.record_year[1])

str