In [286]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

import plotly.express as px

pd.set_option('display.max_columns', None)
pd.options.mode.chained_assignment = None

%matplotlib inline

In [287]:
#this is a custom function to open each dataset
def open_fuel_year(fuel_year):
    
    df = pd.read_csv('./all_alpha_'+str(fuel_year)+'.csv', low_memory=False)

    df['record_year'] = pd.Series(dtype='str')
    new_cols_order = ['record_year'] + df.columns[0:18].to_list()
    
    df = df[new_cols_order]
    for year in years:
        if year == fuel_year:
            df['record_year'] = int(fuel_year)
            print(new_cols_order)    
        
    return df

In [288]:
fuel_df = pd.DataFrame()

years = [2008,2018]

#join the datasets
for fuel_year in years:
    fuel_df = pd.concat([fuel_df, open_fuel_year(fuel_year)])
    
    print(len(fuel_df))
fuel_df.reset_index(drop=True, inplace=True)

['record_year', 'Model', 'Displ', 'Cyl', 'Trans', 'Drive', 'Fuel', 'Sales Area', 'Stnd', 'Underhood ID', 'Veh Class', 'Air Pollution Score', 'FE Calc Appr', 'City MPG', 'Hwy MPG', 'Cmb MPG', 'Unadj Cmb MPG', 'Greenhouse Gas Score', 'SmartWay']
2404
['record_year', 'Model', 'Displ', 'Cyl', 'Trans', 'Drive', 'Fuel', 'Cert Region', 'Stnd', 'Stnd Description', 'Underhood ID', 'Veh Class', 'Air Pollution Score', 'City MPG', 'Hwy MPG', 'Cmb MPG', 'Greenhouse Gas Score', 'SmartWay', 'Comb CO2']
4015

In [289]:
fuel_df

,record_year,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay,Cert Region,Stnd Description,Comb CO2
0,2008,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no,NaN,NaN,NaN
1,2008,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no,NaN,NaN,NaN
2,2008,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no,NaN,NaN,NaN
3,2008,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no,NaN,NaN,NaN
4,2008,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,Drv,16,24,19,24.5629,5,no,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4010,2018,VOLVO XC 90,2.0,4.0,SemiAuto-8,4WD,Gasoline,NaN,T3B70,JVVXJ02.0A70,standard SUV,5,NaN,22,28,24,NaN,5,No,FA,Federal Tier 3 Bin 70,365
4011,2018,VOLVO XC 90,2.0,4.0,SemiAuto-8,4WD,Gasoline,NaN,L3ULEV70,JVVXJ02.0B70,standard SUV,5,NaN,20,27,23,NaN,5,No,CA,California LEV-III ULEV70,394
4012,2018,VOLVO XC 90,2.0,4.0,SemiAuto-8,4WD,Gasoline,NaN,T3B70,JVVXJ02.0B70,standard SUV,5,NaN,20,27,23,NaN,5,No,FA,Federal Tier 3 Bin 70,394
4013,2018,VOLVO XC 90,2.0,4.0,SemiAuto-8,4WD,Gasoline/Electricity,NaN,L3SULEV30,JVVXJ02.0P30,standard SUV,7,NaN,26/63,30/61,27/62,NaN,10,Elite,CA,California LEV-III SULEV30,187
4014,2018,VOLVO XC 90,2.0,4.0,SemiAuto-8,4WD,Gasoline/Electricity,NaN,T3B30,JVVXJ02.0P30,standard SUV,7,NaN,26/63,30/61,27/62,NaN,10,Elite,FA,Federal Tier 3 Bin 30,187

In [290]:
fuel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4015 entries, 0 to 4014
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   record_year           4015 non-null   int64
 1   Model                 4015 non-null   object
 2   Displ                 4013 non-null   float64
 3   Cyl                   3814 non-null   object
 4   Trans                 3816 non-null   object
 5   Drive                 3922 non-null   object
 6   Fuel                  4015 non-null   object
 7   Sales Area            2404 non-null   object
 8   Stnd                  4015 non-null   object
 9   Underhood ID          4015 non-null   object
 10  Veh Class             4015 non-null   object
 11  Air Pollution Score   4015 non-null   object
 12  FE Calc Appr          2205 non-null   object
 13  City MPG              3816 non-null   object
 14  Hwy MPG               3816 non-null   object
 15  Cmb MPG               3816 non-null   object
 16  Unadj Cmb MPG         2205 non-null   float64
 17  Greenhouse Gas Score  3816 non-null   object
 18  SmartWay              4015 non-null   object
 19  Cert Region           1611 non-null   object
 20  Stnd Description      1611 non-null   object
 21  Comb CO2              1611 non-null   object
dtypes: float64(2), int64(1), object(19)
memory usage: 690.2+ KB

In [291]:
titles = ['Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG', 'Stnd Description', 'Comb CO2']
fuel_df.drop(labels=titles, axis=1, inplace=True)

In [293]:
fuel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4015 entries, 0 to 4014
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   record_year           4015 non-null   int64
 1   Model                 4015 non-null   object
 2   Displ                 4013 non-null   float64
 3   Cyl                   3814 non-null   object
 4   Trans                 3816 non-null   object
 5   Drive                 3922 non-null   object
 6   Fuel                  4015 non-null   object
 7   Sales Area            2404 non-null   object
 8   Veh Class             4015 non-null   object
 9   Air Pollution Score   4015 non-null   object
 10  City MPG              3816 non-null   object
 11  Hwy MPG               3816 non-null   object
 12  Cmb MPG               3816 non-null   object
 13  Greenhouse Gas Score  3816 non-null   object
 14  SmartWay              4015 non-null   object
 15  Cert Region           1611 non-null   object
dtypes: float64(1), int64(1), object(14)
memory usage: 502.0+ KB

In [294]:
fuel_df.columns = fuel_df.columns.str.replace(' ','_')
fuel_df.columns = fuel_df.columns.str.lower()

In [295]:
fuel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4015 entries, 0 to 4014
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   record_year           4015 non-null   int64
 1   model                 4015 non-null   object
 2   displ                 4013 non-null   float64
 3   cyl                   3814 non-null   object
 4   trans                 3816 non-null   object
 5   drive                 3922 non-null   object
 6   fuel                  4015 non-null   object
 7   sales_area            2404 non-null   object
 8   veh_class             4015 non-null   object
 9   air_pollution_score   4015 non-null   object
 10  city_mpg              3816 non-null   object
 11  hwy_mpg               3816 non-null   object
 12  cmb_mpg               3816 non-null   object
 13  greenhouse_gas_score  3816 non-null   object
 14  smartway              4015 non-null   object
 15  cert_region           1611 non-null   object
dtypes: float64(1), int64(1), object(14)
memory usage: 502.0+ KB

In [296]:
#check the total number of vehicles by year
fuel_df.record_year.value_counts()

2008    2404
2018    1611
Name: record_year, dtype: int64

In [278]:
#check the total number of columns in the frame
fuel_df.columns.value_counts().sum()

16

In [279]:
#check the number of duplicated values
total_rows_dupe = fuel_df.duplicated()
total_rows_dupe

0       False
1       False
2       False
3       False
4       False
        ...
4010    False
4011    False
4012    False
4013    False
4014    False
Length: 4015, dtype: bool

In [280]:
#filter out values that have been duplicated
fuel_df.query('@total_rows_dupe')

,record_year,model,displ,cyl,trans,drive,fuel,sales_area,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway,cert_region
121,2008,BMW 328ci,3.0,(6 cyl),Man-6,2WD,Gasoline,FA,small car,6,20,30,24,7,yes,NaN
123,2008,BMW 328ci,3.0,(6 cyl),Auto-S6,2WD,Gasoline,FA,small car,6,23,31,25,7,yes,NaN
129,2008,BMW 328ci Convertible,3.0,(6 cyl),Man-6,2WD,Gasoline,FA,small car,6,19,29,22,6,no,NaN
131,2008,BMW 328ci Convertible,3.0,(6 cyl),Auto-S6,2WD,Gasoline,FA,small car,6,20,30,24,7,yes,NaN
137,2008,BMW 328cxi,3.0,(6 cyl),Auto-S6,4WD,Gasoline,FA,small car,6,20,27,23,7,yes,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2422,2018,ALFA ROMEO Giulia,2.9,6.0,Auto-8,2WD,Gasoline,NaN,midsize car,3,17,24,20,4,No,CA
3138,2018,HONDA Fit,1.5,4.0,Man-6,2WD,Gasoline,NaN,station wagon,3,29,36,31,7,Yes,CA
3526,2018,MERCEDES-BENZ AMG GLC43 4Matic,3.0,6.0,Auto-9,4WD,Gasoline,NaN,small SUV,5,18,24,20,4,No,FA
3534,2018,MERCEDES-BENZ AMG GLE63 S,5.5,8.0,Auto-7,4WD,Gasoline,NaN,standard SUV,3,14,18,15,2,No,CA
3536,2018,MERCEDES-BENZ AMG GLE63 S,5.5,8.0,Auto-7,4WD,Gasoline,NaN,standard SUV,3,14,18,15,2,No,FA

In [281]:
#check the data type of columns
type(fuel_df.record_year[1])

numpy.int64

In [297]:
fuel_df.isna().sum()

record_year                0
model                      0
displ                      2
cyl                      201
trans                    199
drive                     93
fuel                       0
sales_area              1611
veh_class                  0
air_pollution_score        0
city_mpg                 199
hwy_mpg                  199
cmb_mpg                  199
greenhouse_gas_score     199
smartway                   0
cert_region             2404
dtype: int64

In [300]:
#this line will combine all the data from cert_region into sales_area
fuel_df.sales_area.update(fuel_df.pop('cert_region'))

KeyError: 'cert_region'

In [301]:
fuel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4015 entries, 0 to 4014
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   record_year           4015 non-null   int64
 1   model                 4015 non-null   object
 2   displ                 4013 non-null   float64
 3   cyl                   3814 non-null   object
 4   trans                 3816 non-null   object
 5   drive                 3922 non-null   object
 6   fuel                  4015 non-null   object
 7   sales_area            4015 non-null   object
 8   veh_class             4015 non-null   object
 9   air_pollution_score   4015 non-null   object
 10  city_mpg              3816 non-null   object
 11  hwy_mpg               3816 non-null   object
 12  cmb_mpg               3816 non-null   object
 13  greenhouse_gas_score  3816 non-null   object
 14  smartway              4015 non-null   object
dtypes: float64(1), int64(1), object(13)
memory usage: 470.6+ KB

In [302]:
fuel_df.rename(columns={'sales_area': 'cert_region'}, inplace=True)

In [303]:
fuel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4015 entries, 0 to 4014
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   record_year           4015 non-null   int64
 1   model                 4015 non-null   object
 2   displ                 4013 non-null   float64
 3   cyl                   3814 non-null   object
 4   trans                 3816 non-null   object
 5   drive                 3922 non-null   object
 6   fuel                  4015 non-null   object
 7   cert_region           4015 non-null   object
 8   veh_class             4015 non-null   object
 9   air_pollution_score   4015 non-null   object
 10  city_mpg              3816 non-null   object
 11  hwy_mpg               3816 non-null   object
 12  cmb_mpg               3816 non-null   object
 13  greenhouse_gas_score  3816 non-null   object
 14  smartway              4015 non-null   object
dtypes: float64(1), int64(1), object(13)
memory usage: 470.6+ KB

In [304]:
#seperate the vehicles into frames by year of record
v08 = fuel_df.query('record_year == 2008')
v18 = fuel_df.query('record_year == 2018')

v08.reset_index(drop=True, inplace=True)
v18.reset_index(drop=True, inplace=True)

In [305]:
#check missing values in 2008 frame
v08.isna().sum()

record_year               0
model                     0
displ                     0
cyl                     199
trans                   199
drive                    93
fuel                      0
cert_region               0
veh_class                 0
air_pollution_score       0
city_mpg                199
hwy_mpg                 199
cmb_mpg                 199
greenhouse_gas_score    199
smartway                  0
dtype: int64

In [306]:
#check missing values in 2008 frame
v18.isna().sum()

record_year             0
model                   0
displ                   2
cyl                     2
trans                   0
drive                   0
fuel                    0
cert_region             0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [307]:
type(v18.cyl[1])

float

In [308]:
fuel_df.nunique()

record_year               2
model                   726
displ                    52
cyl                      15
trans                    36
drive                     2
fuel                      9
cert_region               3
veh_class                11
air_pollution_score      19
city_mpg                 68
hwy_mpg                  75
cmb_mpg                  63
greenhouse_gas_score     30
smartway                  5
dtype: int64

In [309]:
fuel_df.fuel.value_counts()

Gasoline                3810
ethanol/gas               72
Ethanol/Gas               55
Diesel                    38
Gasoline/Electricity      24
diesel                    11
CNG                        2
Electricity                2
ethanol                    1
Name: fuel, dtype: int64

In [310]:
fuel_df.cert_region

0       CA
1       FA
2       CA
3       FA
4       CA
        ..
4010    FA
4011    CA
4012    FA
4013    CA
4014    FA
Name: cert_region, Length: 4015, dtype: object

In [311]:
fuel_df.smartway.value_counts()

no       1766
No       1414
yes       638
Yes       175
Elite      22
Name: smartway, dtype: int64

In [312]:
type(v08.cyl[1])

str

In [313]:
v08.fuel.value_counts()

Gasoline       2318
ethanol/gas      72
diesel           11
CNG               2
ethanol           1
Name: fuel, dtype: int64

In [314]:
v18.fuel.value_counts()

Gasoline                1492
Ethanol/Gas               55
Diesel                    38
Gasoline/Electricity      24
Electricity                2
Name: fuel, dtype: int64

In [ ]:
v08.cyl

In [315]:
v18.cyl

0       6.0
1       6.0
2       6.0
3       6.0
4       4.0
       ...
1606    4.0
1607    4.0
1608    4.0
1609    4.0
1610    4.0
Name: cyl, Length: 1611, dtype: object

In [316]:
v08.trans.nunique()

14

In [318]:
fuel_df.head(10)

,record_year,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,2008,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,2008,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,17,4,no
2,2008,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
3,2008,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,17,22,19,5,no
4,2008,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no
5,2008,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,FA,midsize car,6,16,24,19,5,no
6,2008,ACURA TL,3.2,(6 cyl),Auto-S5,2WD,Gasoline,CA,midsize car,7,18,26,21,6,yes
7,2008,ACURA TL,3.5,(6 cyl),Auto-S5,2WD,Gasoline,CA,midsize car,7,17,26,20,6,yes
8,2008,ACURA TL,3.5,(6 cyl),Man-6,2WD,Gasoline,CA,midsize car,7,18,27,21,6,yes
9,2008,ACURA TL,3.2,(6 cyl),Auto-S5,2WD,Gasoline,FA,midsize car,6,18,26,21,6,no

In [320]:
ca_fuel = fuel_df.query('cert_region == "CA"')
ca_fuel.drop(labels='cert_region', axis=1, inplace=True)

In [321]:
ca_fuel

,record_year,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,2008,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,SUV,7,15,20,17,4,no
2,2008,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,SUV,7,17,22,19,5,no
4,2008,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,midsize car,7,16,24,19,5,no
6,2008,ACURA TL,3.2,(6 cyl),Auto-S5,2WD,Gasoline,midsize car,7,18,26,21,6,yes
7,2008,ACURA TL,3.5,(6 cyl),Auto-S5,2WD,Gasoline,midsize car,7,17,26,20,6,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4005,2018,VOLVO XC 60,2.0,4.0,SemiAuto-8,4WD,Gasoline/Electricity,small SUV,7,26/60,28/58,26/59,10,Elite
4007,2018,VOLVO XC 90,2.0,4.0,SemiAuto-8,2WD,Gasoline,standard SUV,5,22,29,25,5,No
4009,2018,VOLVO XC 90,2.0,4.0,SemiAuto-8,4WD,Gasoline,standard SUV,5,22,28,24,5,No
4011,2018,VOLVO XC 90,2.0,4.0,SemiAuto-8,4WD,Gasoline,standard SUV,5,20,27,23,5,No
4013,2018,VOLVO XC 90,2.0,4.0,SemiAuto-8,4WD,Gasoline/Electricity,standard SUV,7,26/63,30/61,27/62,10,Elite

In [344]:
ca08 = ca_fuel.query('record_year == 2018')
ca08.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 798 entries, 2405 to 4013
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   record_year           798 non-null    int64
 1   model                 798 non-null    object
 2   displ                 797 non-null    float64
 3   cyl                   797 non-null    object
 4   trans                 798 non-null    object
 5   drive                 798 non-null    object
 6   fuel                  798 non-null    object
 7   veh_class             798 non-null    object
 8   air_pollution_score   798 non-null    object
 9   city_mpg              798 non-null    object
 10  hwy_mpg               798 non-null    object
 11  cmb_mpg               798 non-null    object
 12  greenhouse_gas_score  798 non-null    object
 13  smartway              798 non-null    object
dtypes: float64(1), int64(1), object(12)
memory usage: 93.5+ KB

In [330]:
v08.dropna(inplace=True)
v08.isna().sum()

record_year             0
model                   0
displ                   0
cyl                     0
trans                   0
drive                   0
fuel                    0
cert_region             0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [331]:
v18.dropna(inplace=True)
v18.isna().sum()

record_year             0
model                   0
displ                   0
cyl                     0
trans                   0
drive                   0
fuel                    0
cert_region             0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [333]:
v08.duplicated().sum()

63

In [334]:
v18.duplicated().sum()

5

In [337]:
v08.drop_duplicates(inplace=True)

In [339]:
v18.drop_duplicates(inplace=True)

In [340]:
v08.duplicated().sum()

0

In [341]:
v18.duplicated().sum()

0

In [345]:
# save progress for the next section
v08.to_csv('data_2008_v2.csv', index=False)
v18.to_csv('data_2018_v2.csv', index=False)