# Merging Datasets
Use Pandas Merges to create a combined dataset from `clean_08.csv` and `clean_18.csv`.

In [16]:
# load datasets
import pandas as pd

df_08 = pd.read_csv('clean_2008.csv')
df_18 = pd.read_csv('clean_2018.csv')

### Create combined dataset

In [17]:
df_08

,Unnamed: 0,record_year,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,0,2008,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,CA,SUV,7.0,15.0,20.0,17.0,4,no
1,1,2008,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,FA,SUV,6.0,15.0,20.0,17.0,4,no
2,2,2008,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,CA,SUV,7.0,17.0,22.0,19.0,5,no
3,3,2008,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,FA,SUV,6.0,17.0,22.0,19.0,5,no
4,4,2008,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,CA,midsize car,7.0,16.0,24.0,19.0,5,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2202,2202,2008,MITSUBISHI Raider,4.7,8,Auto-L5,4WD,gas,FA,pickup,3.0,14.0,19.0,15.0,3,no
2203,2203,2008,NISSAN Armada,5.6,8,Auto-L5,2WD,gas,FA,SUV,6.0,12.0,18.0,14.0,2,no
2204,2204,2008,NISSAN Armada,5.6,8,Auto-L5,4WD,gas,FA,SUV,6.0,12.0,17.0,14.0,2,no
2205,2205,2008,NISSAN Titan,5.6,8,Auto-L5,2WD,gas,FA,pickup,6.0,12.0,17.0,14.0,2,no
2206,2206,2008,NISSAN Titan,5.6,8,Auto-L5,4WD,gas,FA,pickup,6.0,12.0,17.0,14.0,2,no

In [18]:
df_08.drop(columns=['Unnamed: 0', 'record_year'], inplace=True)
df_18.drop(columns=['Unnamed: 0', 'record_year'], inplace=True)

In [19]:
# rename 2008 columns
df_08.rename(columns=lambda x: x[:10] + "_2008", inplace=True)

In [20]:
# view to check names
df_08.head()

,model_2008,displ_2008,cyl_2008,trans_2008,drive_2008,fuel_2008,cert_regio_2008,veh_class_2008,air_pollut_2008,city_mpg_2008,hwy_mpg_2008,cmb_mpg_2008,greenhouse_2008,smartway_2008
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,CA,SUV,7.0,15.0,20.0,17.0,4,no
1,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,FA,SUV,6.0,15.0,20.0,17.0,4,no
2,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,CA,SUV,7.0,17.0,22.0,19.0,5,no
3,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,FA,SUV,6.0,17.0,22.0,19.0,5,no
4,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,CA,midsize car,7.0,16.0,24.0,19.0,5,no

In [21]:
# merge datasets
df_combined = df_08.merge(df_18, left_on='model_2008', right_on='model', how='inner')

In [25]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6242 entries, 0 to 6241
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model_2008            6242 non-null   object
 1   displ_2008            6242 non-null   float64
 2   cyl_2008              6242 non-null   int64
 3   trans_2008            6242 non-null   object
 4   drive_2008            6242 non-null   object
 5   fuel_2008             6242 non-null   object
 6   cert_regio_2008       6242 non-null   object
 7   veh_class_2008        6242 non-null   object
 8   air_pollut_2008       6242 non-null   float64
 9   city_mpg_2008         6242 non-null   float64
 10  hwy_mpg_2008          6242 non-null   float64
 11  cmb_mpg_2008          6242 non-null   float64
 12  greenhouse_2008       6242 non-null   int64
 13  smartway_2008         6242 non-null   object
 14  model                 6242 non-null   object
 15  displ                 6242 non-null   float64
 16  cyl                   6242 non-null   int64
 17  trans                 6242 non-null   object
 18  drive                 6242 non-null   object
 19  fuel                  6242 non-null   object
 20  cert_region           6242 non-null   object
 21  veh_class             6242 non-null   object
 22  air_pollution_score   6242 non-null   float64
 23  city_mpg              6242 non-null   float64
 24  hwy_mpg               6242 non-null   float64
 25  cmb_mpg               6242 non-null   float64
 26  greenhouse_gas_score  6242 non-null   int64
 27  smartway              6242 non-null   object
dtypes: float64(10), int64(4), object(14)
memory usage: 1.4+ MB

In [32]:
# view to check merge
df_combined.head(10)

,model_2008,displ_2008,cyl_2008,trans_2008,drive_2008,fuel_2008,cert_regio_2008,veh_class_2008,air_pollut_2008,city_mpg_2008,...,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,CA,SUV,7.0,17.0,...,2WD,Gasoline,FA,small SUV,3.0,20.0,28.0,23.0,5,No
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,CA,SUV,7.0,17.0,...,2WD,Gasoline,CA,small SUV,3.0,20.0,28.0,23.0,5,No
2,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,CA,SUV,7.0,17.0,...,4WD,Gasoline,FA,small SUV,3.0,19.0,27.0,22.0,4,No
3,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,CA,SUV,7.0,17.0,...,4WD,Gasoline,CA,small SUV,3.0,19.0,27.0,22.0,4,No
4,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,FA,SUV,6.0,17.0,...,2WD,Gasoline,FA,small SUV,3.0,20.0,28.0,23.0,5,No
5,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,FA,SUV,6.0,17.0,...,2WD,Gasoline,CA,small SUV,3.0,20.0,28.0,23.0,5,No
6,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,FA,SUV,6.0,17.0,...,4WD,Gasoline,FA,small SUV,3.0,19.0,27.0,22.0,4,No
7,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,FA,SUV,6.0,17.0,...,4WD,Gasoline,CA,small SUV,3.0,19.0,27.0,22.0,4,No
8,AUDI A3,2.0,4,Man-6,2WD,Gasoline,CA,station wagon,7.0,21.0,...,4WD,Gasoline,CA,small car,7.0,24.0,31.0,27.0,6,No
9,AUDI A3,2.0,4,Man-6,2WD,Gasoline,CA,station wagon,7.0,21.0,...,4WD,Gasoline,FA,small car,7.0,24.0,31.0,27.0,6,No

Save the combined dataset

In [31]:
df_combined.model_2008.unique()

array(['ACURA RDX', 'AUDI A3', 'AUDI A4', 'AUDI A6', 'AUDI A8 L',
       'AUDI Q7', 'AUDI S4', 'AUDI S5', 'AUDI TT Coupe',
       'AUDI TT Roadster', 'BMW 750i', 'BMW Alpina B7',
       'BMW M6 Convertible', 'CADILLAC CTS', 'CADILLAC Escalade',
       'CHEVROLET Colorado', 'CHEVROLET Corvette', 'CHEVROLET Equinox',
       'CHEVROLET Impala', 'CHEVROLET Malibu', 'CHEVROLET Silverado 15',
       'CHEVROLET Suburban 1500', 'CHEVROLET Tahoe 1500', 'CHRYSLER 300',
       'CHRYSLER Pacifica', 'DODGE Challenger', 'DODGE Charger',
       'DODGE Durango', 'FORD F150', 'FORD Fusion', 'GMC Acadia',
       'GMC Canyon', 'GMC Sierra 15', 'GMC Yukon 1500', 'HONDA Fit',
       'HONDA Ridgeline', 'HYUNDAI Elantra', 'HYUNDAI Santa Fe',
       'HYUNDAI Sonata', 'JEEP Compass', 'JEEP Grand Cherokee',
       'KIA Optima', 'KIA Rio', 'KIA Sedona', 'KIA Sorento',
       'KIA Sportage', 'LEXUS LX 570', 'MASERATI Granturismo', 'MAZDA 3',
       'MAZDA CX-9', 'MERCEDES-BENZ C300', 'MERCEDES-BENZ CLS550',
       'MERCEDES-BENZ SL550', 'NISSAN Armada', 'NISSAN Versa',
       'PORSCHE 911 Turbo', 'PORSCHE 911 Turbo Cabriolet',
       'PORSCHE Boxster', 'PORSCHE Boxster S', 'PORSCHE Cayenne S',
       'SUBARU Forester', 'SUBARU Impreza', 'SUBARU Legacy',
       'TOYOTA 4Runner', 'TOYOTA Avalon', 'TOYOTA Camry',
       'TOYOTA Corolla', 'TOYOTA Land Cruiser', 'TOYOTA RAV4',
       'TOYOTA Sequoia', 'TOYOTA Tundra', 'TOYOTA Yaris',
       'VOLKSWAGEN Jetta', 'VOLKSWAGEN Passat', 'VOLVO S60',
       'VOLVO XC 90'], dtype=object)

In [ ]:
df_18.

In [7]:
df_combined.to_csv('combined_dataset.csv', index=False)